{% extends 'base.html' %}

{%  block content %}

<div class="content-wrapper" style="min-height: 2646.44px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container">
        <div class="row mb-2  d-flex justify-content-center">
          <div class="col-sm-6">
            <h1 class="text-center">FAQs</h1>
          </div>
         
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row  d-flex justify-content-center">
            <div class="col-10 text-center" id="accordion">
              {% for q in faq %}
              <div class="card card-primary card-outline">
                <a class="d-block w-100" data-toggle="collapse" href="#collapseOne" aria-expanded="true">
                    <div class="card-header">
                        <h4 class="card-title w-100">
                            {{ q.id }}. {{ q.question  }}
                        </h4>
                    </div>
                </a>
                <div id="collapseOne" class="collapse show" data-parent="#accordion" style="">
                    <div class="card-body">
                        {{  q.answer }}
                    </div>
                </div>
            </div>
              {% endfor %}
            </div>
         </div>        
    </section>
    <!-- /.content -->
  </div>

  {% endblock %} 
 