{% extends 'base.html' %}

{%  block content %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0"> Farmers Convention  <small>2023</small></h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">About</a></li>
              <li class="breadcrumb-item"><a href="#">Contact</a></li>

            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <section class="hero">
              <div class="container">
                <div class="row">
                  <div class="col notice bg-dark pt-5">
                    <div class="head text-light text-center  mt-5 pt-5" >
                      <h3 class="text-light">Welcome to the  Farmers confrence 2023</h3>
            
                      <p>Our next Event</p>
                      <li>12 - 15 August 2023</li>
                      
                      <button class="btn btn-success mt-3 mb-5">Register here</button>
                    </div>
                    
                  </div>
                </div>
              </div>
            </section>
          </div>
          <!-- /.col-md-6 -->
          <div class="col-lg-6">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title m-0">This year's Theme</h5>
              </div>
              <div class="card-body">
                <h6 class="card-title">Special Welcome</h6>

                <p class="card-text">This first annual farmers confrence will be held at  --------- .come and witness the grand opening
                  of the confrence
                  This first annual farmers confrence will be held at  --------- .come and witness the grand opening
                  of the confrence
                  This first annual farmers confrence will be held at  --------- .come and witness the grand opening
                  of the confrence
                  This first annual farmers confrence will be held at  --------- .come and witness the grand opening
                  of the confrence
                  This first annual farmers confrence will be held at  --------- .come and witness the grand opening
                  of the confrence
                  This first annual farmers confrence will be held at  --------- .come and witness the grand opening
                  of the confrence
          
          
          
                </p>
                <a href="#" class="btn btn-primary">Learn more</a>
              </div>
            </div>

            
          </div>
          <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  {% endblock %} 
 