{% extends 'base.html' %}
{% load static  %}

{%  block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Our Speakers For The Confrence </h1>
          </div>
         
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card card-solid">
        <div class="card-body pb-0">
          <div class="row">
            
            {% for i in sponser  %} 
            <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
              <div class="card bg-light d-flex flex-fill">
                <div class="card-body">
                  <img src="{{ i.image.url }}" class="img-fluid" alt="">
                  <div class="card-footer">
                  <p class="card-title mt-3">
                    {{ i.name }}
                  </p>
                    </a>  
                  </hr>
                </div>
              </div>
            </div>
          </div>
            {% endfor  %}
            
        </div>
        <!-- /.card-body -->
       
        <!-- /.card-footer -->
      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->
  </div>

  {% endblock %} 